In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
F=pd.read_csv('C:\\Users\\82102\\Desktop\\Test\\income\\final1612.csv',encoding='euc-kr')
F

,시군구명,성별,연령,직업구분,소득분위,평균소득,평균소비,평균처분가능소득,연소득,소득대비소비,중위소득,중위처분가능소득,소득분위배율,class,Unnamed: 14,Unnamed: 15
0,강화군,0,0,0,0,2789.0,11497.0,2051.0,33468,0.656478,2400.0,2000.0,202.7,B,NaN,NaN
1,강화군,0,0,0,1,1376.0,7528.0,458.0,16512,0.544089,1500.0,518.0,100.0,B,NaN,NaN
2,강화군,0,0,0,2,1815.0,5393.0,1532.0,21780,0.752388,1800.0,1800.0,131.9,B,NaN,NaN
3,강화군,0,0,0,3,2062.0,6525.0,1680.0,24744,0.736300,2000.0,2000.0,149.9,B,NaN,NaN
4,강화군,0,0,0,4,2322.0,7753.0,1924.0,27864,0.721756,2300.0,2260.0,168.8,B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14315,중구,2,90,0,1,NaN,17408.0,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
14316,중구,2,90,0,4,NaN,5869.0,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
14317,중구,2,90,4,0,NaN,5894.0,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
14318,중구,2,90,4,1,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
14319,중구,2,90,4,4,NaN,NaN,NaN,48,1.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
F['class']=0
F1=F[['성별','연령','직업구분','평균소득','평균소비','평균처분가능소득','소득분위','소득대비소비','class']]
F1

       성별  연령  직업구분    평균소득     평균소비  평균처분가능소득  소득분위    소득대비소비  class
0       0   0     0  2789.0  11497.0    2051.0     0  0.656478      0
1       0   0     0  1376.0   7528.0     458.0     1  0.544089      0
2       0   0     0  1815.0   5393.0    1532.0     2  0.752388      0
3       0   0     0  2062.0   6525.0    1680.0     3  0.736300      0
4       0   0     0  2322.0   7753.0    1924.0     4  0.721756      0
...    ..  ..   ...     ...      ...       ...   ...       ...    ...
14315   2  90     0     NaN  17408.0       NaN     1  0.000000      0
14316   2  90     0     NaN   5869.0       NaN     4  0.000000      0
14317   2  90     4     NaN   5894.0       NaN     0  0.000000      0
14318   2  90     4     NaN      NaN       NaN     1  0.000000      0
14319   2  90     4     NaN      NaN       NaN     4  1.000000      0

[14320 rows x 9 columns]

In [11]:
g=F1[F1['평균처분가능소득']<600].index
F1.drop(g,inplace=True)
F1.dropna(axis=0,inplace=True)
v=F1['평균처분가능소득']

C:\Users\82102\AppData\Local\Temp\ipykernel_9312\3814741680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  F1.drop(g,inplace=True)
C:\Users\82102\AppData\Local\Temp\ipykernel_9312\3814741680.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  F1.dropna(axis=0,inplace=True)

In [12]:
a=21000
b=11000
c=7000
d=4500
e=2700
f=600

In [13]:
def get_score(v):
    if v >a:
        score = 'A'
    elif (v <=a) & (v >b):
        score = 'B'
    elif (v <=b) & (v >c):
        score = 'C'
    elif (v <=c) & (v >d):
        score = 'D'
    elif (v <=d) & (v >e):
        score = 'E'
    elif (v <=e) & (v >f):
        score = 'F'
    else:
        score = 'G'
    return score


F1["class"] = F1["평균처분가능소득"].apply(lambda v: get_score(v))
F1

C:\Users\82102\AppData\Local\Temp\ipykernel_9312\3321475148.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  F1["class"] = F1["평균처분가능소득"].apply(lambda v: get_score(v))

       성별  연령  직업구분    평균소득     평균소비  평균처분가능소득  소득분위    소득대비소비 class
0       0   0     0  2789.0  11497.0    2051.0     0  0.656478     F
2       0   0     0  1815.0   5393.0    1532.0     2  0.752388     F
3       0   0     0  2062.0   6525.0    1680.0     3  0.736300     F
4       0   0     0  2322.0   7753.0    1924.0     4  0.721756     F
5       0   0     0  2548.0   8344.0    2227.0     5  0.727106     F
...    ..  ..   ...     ...      ...       ...   ...       ...   ...
14295   2  70     4  2728.0  12717.0    2547.0     6  0.611529     F
14297   2  70     4  3317.0   9793.0    1481.0     8  0.753969     F
14298   2  70     4  4091.0  14806.0    2156.0     9  0.698403     F
14309   2  80     4  1514.0   4954.0    1250.0     0  0.727323     F
14310   2  80     4  1498.0  10138.0    1247.0     1  0.436026     F

[10338 rows x 9 columns]

In [18]:
train, test = train_test_split(F1, test_size=0.2)
X_train = train[['소득대비소비','평균소득','평균소비','연령']]
y_train = train[['class']]
X_test = test[['소득대비소비','평균소득','평균소비','연령']]
y_test = test[['class']]

classifier = RandomForestClassifier(n_estimators = 100)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

print("정확도 : {}".format(accuracy_score(y_test, y_pred)))

C:\Users\82102\AppData\Local\Temp\ipykernel_9312\333845929.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

정확도 : 0.9047388781431335

In [15]:
from sklearn.model_selection import GridSearchCV

grid = {
      'n_estimators' : [100,200],
      'max_depth' : [6,8,10,12],
      'min_samples_leaf' : [3,5,7,10],
      'min_samples_split' : [2,3,5,10]}

classifier_grid = GridSearchCV(classifier, param_grid = grid, scoring="accuracy", n_jobs=-1, verbose =1)
classifier_grid.fit(X_train, y_train)
print("최고 평균 정확도 : {}".format(classifier_grid.best_score_))
print("최고의 파라미터 :", classifier_grid.best_params_)

Fitting 5 folds for each of 128 candidates, totalling 640 fits

C:\Users\82102\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
C:\Users\82102\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

최고 평균 정확도 : 0.910036275695284
최고의 파라미터 : {'max_depth': 10, 'min_samples_leaf': 3, 'min_samples_split': 3, 'n_estimators': 100}

NameError: name 'fig' is not defined